@font-face {
    font-family: 'default-regular';
    src: url(./fonts/Raleway/static/Raleway-Regular.ttf);
}
@font-face {
    font-family: 'default-bold';
    src: url(./fonts/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: 'default-italic';
    src: url(./fonts/Raleway/static/Raleway-Italic.ttf);
}
@font-face {
    font-family: 'default-semi-bold';
    src: url(./fonts/Raleway/static/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: 'default-thin';
    src: url(./fonts/Raleway/static/Raleway-Light.ttf);
}