:root{
    --primary-color: black;
    --secondary-color: #006494;
    --background-color: rgb(38, 38, 38);
    --primary-text-color: white;
    --secondary-text-color: rgb(38, 38, 38);
}

.background{
    background-color: white;
    color: black;
    // background-color: rgb(38, 38, 38);
    // color: white;
}

.highlight-text{
    color: var(--primary-color);
}

.button{
    font-family: 'default-regular';
    border: 2px solid var(--primary-color);
    padding: 2%;
    background-color: transparent;
    color: black;
    animation: all 2s ease-in-out;
    &:hover{
        background-color: var(--primary-color);
        color: white;
        cursor: pointer;
    }
}

.global-padding{
    padding: 0 12%;
    box-sizing: border-box;
}

.basic-info-bg{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    opacity: 0.02;
    font-size: 8rem;
    font-family: 'default-bold';
    overflow-wrap: anywhere;
    line-height: 15vh;
}